{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
{# <style>
    .background {
        background-color: red;
        position: absolute;
        width: 100%;
        top: 0;
        z-index: -1;
        height: 70%;

        background: url(https://surlybikes.com/uploads/bikes/_medium_image/BridgeClub_BK2227-2000x1333.jpg) no-repeat;
        background-position: top;
        background-size: cover;
    }
</style>

<div class="background"></div>
<div>{{ products[0].Name }}</div> #}
{% endblock %}
